@font-face {
  font-family: "Graphik";
  src: url('/assets/font/graphik-regular.eot');
  src: url("/assets/font/graphik-regular.otf") format("opentype");
  src: url('/assets/font/graphik-regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/graphik-regular.woff2') format('woff2'),
        url('/assets/font/graphik-regular.woff') format('woff'),
        url('/assets/font/graphik-regular.svg#graphik-regular') format('svg');
  font-weight: 400; font-style: normal;
  font-display: swap;
  }

    
  /*@font-face {
    font-family: "Graphik";
    src: url("/assets/font/graphik-light.otf") format("opentype");
    font-weight: 200; font-style: normal;
    font-display: swap;
    }*/
  


body {
  font-family: Graphik;
  background-color: #CDDCED;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  /* box-sizing: content-box; */
}



@media (min-width: 768px){

.titolo{
  position:absolute;
  top: 2vw;
  left: 2vw;
  right: 2vw;
  margin: 0;
  text-align: center;
}

.logo{
  width:100%;
}





.info {
  position: absolute;
  bottom: 0;
  display: flex;
  /* width: 100%; */
  align-items: flex-end;
  justify-content: center;
  padding: 2vw;
}

.col {
  flex: 1;
  text-align: left;
}

.col2 {
  flex: 1;
  text-align: center;
}


.col3 {
  flex: 1;
  text-align: right;
}

a {
  color: #786450;
  font-size: 1.5vw;
}

span{
  color: #786450;
  font-size: 1vw
}
}


@media (max-width: 768px) {

  .titolo{
    position:absolute;
    top: 2vw;
    left: 2vw;
    right: 2vw;
    margin: 0;
    text-align: center;
  }
  
  .logo{
    width:100%;
    content: url('assets/logo-small.svg')
  }
  .info {
    position: absolute;
    bottom: 0;
    align-items: flex-end;
    padding: 2vw;
    flex-direction: column;
  }

  

  .col {
    flex: 1;
    text-align: left;
    padding:2vw;
  }
  
  .col2 {
    flex: 1;
    text-align: left;
    padding:2vw;
  }
  
  
  .col3 {
    flex: 1;
    text-align: left;
    padding:2vw;
  }


  a {
    color: #786450;
    font-size: 4vw;
    font-family: Graphik;
  }
  
  span{
    color: #786450;
    font-size: 4vw;
       font-family: Graphik;
  }

}

